header {
    background-image: url(43jesus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: slide;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slide {
    0% {background-image: url(43jesus.jpg);}
    25% {background-image: url(Captura\ de\ tela\ 2024-11-21\ 195322.png);}
    50% {background-image: url(Captura\ de\ tela\ 2024-11-21\ 195333.png);}
    100% {background-image: url(Captura\ de\ tela\ 2024-11-21\ 195344.png);}
}

.nav-link {
    font-weight: border;
    transition: 20;
}

.nav-link:hover {
    color: #fff;
}

.carousel-iner {
height: 400px;
}

.carousel-item img {
    height: 400px;
}

btn-light {
    background-color: black;
}

.btn a:hover{
    background-color:  #0000;
    color: #fff;
    }

    button{
        background-color:  #0000;
    color: #fff;
    }

    body{
        pointer-events: auto !important;
        background-size: 100% !important;
        opacity: 0.90 !important;
        background-position: 0 0 !important;
        background-image: url("video.mp4");
        content: '';
        position: absolute;
        z-index: 999;
        width: 100%;
        background-repeat: no-repeat;
        }


          
          .form{
            padding: 18px;
          }
          
          .form-content{
            margin-bottom: 8px;
            padding-bottom: 18px;
            position: relative;
          }
          
          .form-content label{
            display: inline-block;
            margin-bottom: 4px;
          }
          
          .form-content input{
            display: block;
            width: 100%;
            border-radius: 8px;
            padding: 8px;
            border: 2px solid #dfdfdf;
          }
          
          .form-content a{
            position: absolute;
            bottom: -8px;
            left: 0;
            visibility: hidden;
          }
          
          .form button{
            background-color: #00c3ff;
            color: #FFF;
            width: 100%;
            border-radius: 14px;
            padding: 10px;
            border: 0;
            font-size: 16px;
            cursor: pointer;
            margin-top: 14px;
          }
          
          .form-content.error input{
            border-color: #ff3b25;
          }
          
          .form-content.error a{
            color: #ff3b25;
            visibility: visible;
          }

          .extra-space {
            padding-bottom: 700px;
        }
        